/* 
    Created on : 30-okt-2017, 16:24:39
    Author     : roy
*/
.facebookfeed-wrapper {
  column-count: 3;
  column-gap: 30px; }
  @media (max-width: 576px) {
    .facebookfeed-wrapper {
      column-count: 1; } }
  @media (min-width: 577px) and (max-width: 768px) {
    .facebookfeed-wrapper {
      column-count: 2; } }
  .facebookfeed-wrapper .post-wrapper {
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    vertical-align: top;
    display: block;
    background: white;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); }
    .facebookfeed-wrapper .post-wrapper img {
      min-width: 100%;
      max-width: 100%; }
    .facebookfeed-wrapper .post-wrapper .content {
      padding: 30px; }
      .facebookfeed-wrapper .post-wrapper .content .timestamp {
        margin-bottom: 15px;
        font-style: italic;
        font-size: 0.8rem; }
      .facebookfeed-wrapper .post-wrapper .content .read-more {
        margin-top: 15px;
        font-style: italic;
        font-size: 0.8rem; }

/*# sourceMappingURL=fb-feed.css.map */
