/* 
    Created on : 30-okt-2017, 16:24:39
    Author     : roy
*/
.facebookfeed-wrapper{
    column-count: 3;
    column-gap: 30px;
    @media(max-width: 576px){
        column-count: 1;
    }
    @media(min-width: 577px) and (max-width: 768px){
        column-count: 2;
    }
    .post-wrapper{
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        
        vertical-align: top;
        display: block;
        background: white;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
        img{
            min-width: 100%;
            max-width: 100%;
        }
        .content{
            padding: 30px;
            .timestamp{
                margin-bottom: 15px;
                font-style: italic;
                font-size: 0.8rem;
            }
            .read-more{
                margin-top: 15px;
                font-style: italic;
                font-size: 0.8rem;
            }
        }      
    }
}
